
#header{
    width: 100%;
    border-width: 1px;
    border-color: brown;
    border-style: double; 
}
#header{
    width: 100%;
    border-width: 1px;
    border-color: brown;
    border-style: double; 
}
#menu{
    width: 20%;
    float: left;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
#contenido {
    width: 75%;
    margin-left: 5px;
    padding: 5px 30px;
     border-width: 3px ;
     border-color: darkgreen;
     border-style: solid;
     background-image: url(reglas.css);
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     float: left;
}
#footer{
    border-width: 2px;
    border-color: #3EB2DE;
    border-style: dotted;
    clear: both;
    text-align: center;
}